/* 
[part="vaadin-login-overlay"] {
 	background-color: #e8f8fc; 
	background-: #e8f8fc; 
}

[part="vaadin-login-overlay-wrapper"] {
 	background-color: #e8f8fc; 
	background-: #e8f8fc; 
}
   

/* background form color*/
/*
[part="vaadin-login-native-form-wrapper"] {
    background: #d4e2ff;
}
*/

/* background form color*/
 /* 
[part="vaadin-login-native-form"] {
     background: lightgreen; 
}
*/
/* login button */
/*
[part="vaadin-login-native-form"] vaadin-button[part="vaadin-login-submit"] {
         background: lightblue;
}
*/
/* username field */
/*
[part="vaadin-login-native-form"] vaadin-text-field::part(input-field) {
 /*        background: lightgrey; 
}*/
/* label above username */
/* [part="vaadin-login-native-form"] vaadin-text-field::part(label) {
         color: gray; 
}*/
/* password field */
 /* [part="vaadin-login-native-form"] vaadin-password-field::part(input-field) {
        background: lightgrey; 
}*/
/* label above password field*/
 /* 
[part="vaadin-login-native-form"] vaadin-password-field::part(label) {
    color: gray; 
}
*/